extends layout

block content
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1 maximum-scale=1')
    meta(name="robots" content="noindex")
    title Contact Us
    //- link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/styles.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/colourtag-page3.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/flexslider.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/contentcenter.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/ec9on.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/rimage.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/ssoff.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/sslide.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/sidenone.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/olight90.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/fontarial.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/title26.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/fontarialspan.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/bts46.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/btoff.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/fontarialnav.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/nav17.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/fontarialside.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/fontarialheader.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/fontarialcontent.css')
    link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/contact/font13.css')
    style(type='text/css', media='all').
      #feature {background-image: url(resources/contact-us.png);}
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='rw_common/themes/Endeavor/scripts/html5shiv.js')
    script(async='', src='../javacripts/contact/analytics.js')
    script(async='', src='../javacripts/contact/fbds.js')
    script(async='', src='../javacripts/contact/analytics.js')
    script(type='text/javascript', src='../javacripts/contact/javascript.js')
    script(type='text/javascript', src='../javacripts/contact/jquery-1.7.1.min.js')
    script(type='text/javascript', src='../javacripts/contact/function.js')
    script(type='text/javascript', src='../javacripts/contact/jquery.fitvids.js')
    script(type='text/javascript', src='../javacripts/contact/jquery.flexslider.js')
    meta(name='robots', content='noindex')
    // Start Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56991678-1', 'auto');
      ga('send', 'pageview');
    script(type='text/javascript').
      adroll_adv_id = "3ALUZKCJMFDS7KLVY2OWE2";
      adroll_pix_id = "YSN7W5KEY5FFBLKG45XIAS";
      (function () {
      var oldonload = window.onload;
      window.onload = function(){
      __adroll_loaded=true;
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      if(oldonload){oldonload()}};
      }());
    script.
      (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '235586069975455']);
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', 'PixelInitialized', {}]);
    noscript
  body(data-gr-c-s-loaded='true')
    img(height='1', width='1', alt='', style='display:none', src='https://www.facebook.com/tr?id=235586069975455&ev=NoScript')
    // End Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56991678-1', 'auto');
      ga('send', 'pageview');
    script(type='text/javascript').
      adroll_adv_id = "3ALUZKCJMFDS7KLVY2OWE2";
      adroll_pix_id = "YSN7W5KEY5FFBLKG45XIAS";
      (function () {
      var oldonload = window.onload;
      window.onload = function(){
      __adroll_loaded=true;
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      if(oldonload){oldonload()}};
      }());
    script.
      (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '235586069975455']);
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', 'PixelInitialized', {}]);
    script(src='../stylesheets/contact/f.txt')
    style#fit-vids-style.
      .fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}
    script(async='true', type='text/javascript', src='../javascripts/contact/roundtrip.js')
    script(async='true', type='text/javascript', src='../javascripts/contact/roundtrip.js')
    // Start Google Analytics
    noscript
      img(height='1', width='1', alt='', style='display:none', src='https://www.facebook.com/tr?id=235586069975455&ev=NoScript')
    // End Google Analytics
    #wrapper
      #hwrap
        header.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
          #headwrap
            #titlelogo
              a(href='/')
                #logo
                  img(src='../images/bemo-logo2.png', width='167', height='100', alt='Site logo')
                h1
              h2
            #mwrap
              #lt
              #lm
              #lb
            #nwrap
              #menuBtn
              nav
                ul.navigation
                  li#current
                    a(href='#', id='switcher') Switch off indexing
                  li
                    a(href='/', rel='self') Main
                  li
                    a(href='http://cdainterview.com/how-to-prepare-for-cda-interview.html', rel='self', style="pointer-events: none; cursor: default;") How To Prepare
                  li
                    a(href='http://cdainterview.com/sample-cda-interview-questions.html', rel='self', style="pointer-events: none; cursor: default;") CDA Interview Questions
                  li#current
                    a#current(href='/contact-us', rel='self') Contact Us
        .banner.video_banner
          #feature.bghide
            img#featureImg(src='../images/contact-us.png')
            #extraContainer11
              .videoWrapper
            #extraContainer1
            .banner-text
            #extraContainer9
      .clear
      #container
        #extraContainer7
        #extraContainer8
        section
          #padding
            .message-text
              span(style='font-size:17px; font-weight:bold; ') BeMo Academic Consulting Inc. 
              br
              span
                span(style='font-size:13px; font-weight:bold; ')
                  u Toll Free
                span(style='font-size:13px; ') : 
                span(style='font-size:14px; ') 1-855-900-BeMo (2366)
                span(style='font-size:13px; ')
                  br
                span(style='font-size:13px; font-weight:bold; ')
                  u Email
                span(style='font-size:13px; ') : 
                span(style='font-size:14px; ') info@bemoacademicconsulting.com
            br
            form(action='http://cdainterview.com/contact-us_files/mailer.php', method='post', enctype='multipart/form-data')
              div
                .message-text
                  span(style='font-size:17px; font-weight:bold; ') BeMo Academic Consulting Inc. 
                  br
                  span
                    span(style='font-size:13px; font-weight:bold; ')
                      u Toll Free
                    span(style='font-size:13px; ') : 
                    span(style='font-size:14px; ') 1-855-900-BeMo (2366)
                    span(style='font-size:13px; ')
                      br
                    span(style='font-size:13px; font-weight:bold; ')
                      u Email
                    span(style='font-size:13px; ') : 
                    span(style='font-size:14px; ') info@bemoacademicconsulting.com
                label Name:
                |  *
                br
                input.form-input-field(type='text', value='', name='form[element0]', size='40')
                br
                br
                label Email Address:
                |  *
                br
                input.form-input-field(type='text', value='', name='form[element1]', size='40')
                br
                br
                label How can we help you?
                |  *
                br
                textarea.form-input-field(name='form[element2]', rows='8', cols='38')
                br
                br
                div(style='display: none;')
                  .message-text
                    span(style='font-size:17px; font-weight:bold; ') BeMo Academic Consulting Inc. 
                    br
                    span
                      span(style='font-size:13px; font-weight:bold; ')
                        u Toll Free
                      span(style='font-size:13px; ') : 
                      span(style='font-size:14px; ') 1-855-900-BeMo (2366)
                      span(style='font-size:13px; ')
                        br
                      span(style='font-size:13px; font-weight:bold; ')
                        u Email
                      span(style='font-size:13px; ') : 
                      span(style='font-size:14px; ') info@bemoacademicconsulting.com
                  label Spam Protection: Please don't fill this in:
                  textarea(name='comment', rows='1', cols='1')
                input(type='hidden', name='form_token', value='15209470235eae79392516f')
                input.form-input-button(type='reset', name='resetButton', value='Reset')
                input.form-input-button(type='submit', name='submitButton', value='Submit')
            br
            .form-footer
              span(style='font-size:15px; font-weight:bold; ')
                u Note
              span(style='font-size:15px; ')
                | : If you are having difficulties with our contact us form above, send us an email to info@bemoacademicconsulting.com (copy & paste the email address)
              span(style='font-size:13px; ')
                br
            br
        #asidewrap
          aside
            #sidecontent
              #sideTitle
        .clear
        #ecwrap
        #ec2wrap
          #extraContainer2
        #ec3wrap
          #extraContainer3
        #ec4wrap
          #extraContainer4
        #ec5wrap
          #extraContainer5
        #ec6wrap
          #extraContainer6
        #extraContainer10
          aside
            #sidecontent
              #sideTitle
      footer
        #footer
          | ©2013-2016 BeMo Academic Consulting Inc. All rights reserved. 
          a(href='http://www.cdainterview.com/disclaimer-privacy-policy.html', target='_blank')
            span(style='text-decoration:underline;') Disclaimer & Privacy Policy
          a#rw_email_contact(href='mailto:info@bemoacademicconsulting.com')
            span(style='text-decoration:underline;') Contact Us
          script(type='text/javascript').
            var _rwObsfuscatedHref0 = "mai";var _rwObsfuscatedHref1 = "lto";var _rwObsfuscatedHref2 = ":in";var _rwObsfuscatedHref3 = "fo@";var _rwObsfuscatedHref4 = "bem";var _rwObsfuscatedHref5 = "oac";var _rwObsfuscatedHref6 = "ade";var _rwObsfuscatedHref7 = "mic";var _rwObsfuscatedHref8 = "con";var _rwObsfuscatedHref9 = "sul";var _rwObsfuscatedHref10 = "tin";var _rwObsfuscatedHref11 = "g.c";var _rwObsfuscatedHref12 = "om";var _rwObsfuscatedHref = _rwObsfuscatedHref0+_rwObsfuscatedHref1+_rwObsfuscatedHref2+_rwObsfuscatedHref3+_rwObsfuscatedHref4+_rwObsfuscatedHref5+_rwObsfuscatedHref6+_rwObsfuscatedHref7+_rwObsfuscatedHref8+_rwObsfuscatedHref9+_rwObsfuscatedHref10+_rwObsfuscatedHref11+_rwObsfuscatedHref12; document.getElementById('rw_email_contact').href = _rwObsfuscatedHref;
        #socialicons
          #socialicons1
          a.social(href='https://www.facebook.com/bemoacademicconsulting') F
          a.social(href='https://twitter.com/BeMo_AC') L
    a.scrollup(href='http://cdainterview.com/contact-us.php#', style='display: none;') Scroll
    // Start LiveStats
    // Google Code for Remarketing Tag
    //
      ------------------------------------------------
      Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
      -------------------------------------------------
    script(type='text/javascript').
      /* <![CDATA[ */
      var google_conversion_id = 984918679;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    script(type='text/javascript', src='../stylesheets/contact/f(1).txt')
    noscript
      div(style='display:inline;')
        img(height='1', width='1', style='border-style:none;', alt='', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/984918679/?value=0&guid=ON&script=0')
    // End LiveStats
           
